.time_zone {
  border: 2px dashed #03C03C;
  text-align: right;
  margin: 30px 0;
  padding: 10px;
  width: fit-content;
  .current_time {
    font-size: .65em;
    letter-spacing: .5em;
    color: #03C03C;
    font-family: digital;
  }
  .countdown_time {
    font-size: .65em;
    letter-spacing: .5em;
    color: #03C03C;
    font-family: digital;
    em {
      text-decoration: none;
      font-style: normal;
      font-family: inherit;
    }
  }
  &:hover {
    background: rgba(3, 192, 60, .1);
    cursor: crosshair;
    .countdown_time {
      em {
        color: #FFFFFF;
      }
    }
  }
}