@import '../../utils/utils.styl';
footer {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  color: $gray4;
  padding-bottom: 15px;
  font-size: 14px;
  overflow: hidden;
  p {
    .span-item::after {
      content: '|';
    }
    .span-item:last-of-type::after {
      content: '';
    }
  }
  a {
    color: $gray2;
  }
}