#kas
  position relative
  z-index 999
  background #E3E7ED url('../../assets/images/home/acid_bg.png') no-repeat center
  background-size contain
  .logo
    position absolute
    display inline-block
    height 76%
    width 0
    background url('../../assets/images/home/logo.png') no-repeat center
    background-size auto 100%
    padding-right 12.3496%
    top 12%
    left 1%;
  .dragonir
    position absolute
    display inline-block
    height 28%
    width 0
    background url('../../assets/images/home/dragonir.png') no-repeat center
    background-size auto 100%
    padding-left 31.7621%
    bottom 10%
    right -8%;