.section {
  .section_title {
    font-size: 2.25em;
    text-align: center;
    color: #2D2D2D;
    font-weight: 700;
    font-family: air;
    text-shadow: 1px 1px 1px #FFFC00, 2px 2px 2px #FFFC00, 3px 3px 3px #FFFC00, 4px 4px 4px #999999, 5px 5px 5px #999999;
  }
  &.section_one {
    // background: #5f2c82;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to top, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to top, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .enter_anchor {
      text-decoration: none;
      color: #FFFFFF;
      .enter_btn {
        font-size: .75em;
        background: #FDFC47;
        background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);
        background: linear-gradient(to right, #24FE41, #FDFC47);
        color: #000000;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
        padding: .5em 2.5em;
        transition: all .3s ease-in-out;
        &:hover {
          opacity: .75;
        }
      }
    }
    .moon_container {
      text-align: left;
      height: 100vh;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      .moon {
        height: 90%;
        width: auto;
        animation: moon 750s linear infinite;
        position: absolute;
        left: 0;
        right: 0;
        margin: 2.5% auto;
        opacity: .75;
        cursor: grab;
        &:hover {
          animation-play-state: paused;
          -webkit-animation-play-state: paused;
        }
      }
      .section_title {
        letter-spacing: .8em;
        color: #FFFFFF;
        margin-bottom: 30px;
        text-align: left;
        padding: 5% 5%;
        position: relative;
        text-shadow: none;
        font-size: 3em;
      }
      .intro {
        position: relative;
        z-index: 10;
        padding: 45px 5%;
        .text {
          font-size: .65em;
          color: #FFFC00;
          line-height: 2.5;
          text-align: right;
          font-family: air;
          display: none;
        }
        .enter_zone {
          text-align: left;
          .enter_btn {
            text-decoration: none;
            color: #C6C8CB;
            border: 2px solid #C6C8CB;
            display: inline-block;
            padding: 15px 65px;
            font-family: digital;
            position: relative;
            margin: 80px auto;
            text-align: center;
            letter-spacing: .25em;
            background: rgba(62, 74, 51, .5);
            &:hover {
              background: rgba(90, 102, 53, .5);
              color: #FFFFFF;
            }
            i {
              content: "";
              display: inline-block;
              height: 2px;
              width: 8px;
              background: #FFFFFF;
              position: absolute;
              &:nth-of-type(1) {
                top: -2px;
                left: -10px;
              }
              &:nth-of-type(2) {
                top: -2px;
                right: -10px;
              }
              &:nth-of-type(3) {
                bottom: -2px;
                left: -10px;
              }
              &:nth-of-type(4) {
                bottom: -2px;
                right: -10px;
              }
              &:nth-of-type(5) {
                height: 8px;
                width: 2px;
                top: -10px;
                left: -2px;
              }
              &:nth-of-type(6) {
                height: 8px;
                width: 2px;
                top: -10px;
                right: -2px;
              }
              &:nth-of-type(7) {
                height: 8px;
                width: 2px;
                bottom: -10px;
                left: -2px;
              }
              &:nth-of-type(8) {
                height: 8px;
                width: 2px;
                bottom: -10px;
                right: -2px;
              }
            }
          }
        }
      }
    }
  }
  &.section_two {
    background: #262C3A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #262C3A, #B9B9B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #262C3A, #B9B9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .section_two_title {
      margin: .5em auto 0;
      text-align: left;
      letter-spacing: .25em;
      padding: 0 5%;
      color: #FFFFFF;
      text-shadow: none;
    }
  }
  &.section_three {
    background: #B9B9B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #B9B9B9, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #B9B9B9, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .section_title {
      margin: 0 auto .5em;
      text-align: right;
      letter-spacing: .25em;
      padding: 0 1.5em;
    }
  }
  &.section_four {
    background: url("../../assets/images/components/home/contact.png") no-repeat right;
    background-size: auto 100%;
    .section_title {
      margin: 0 auto;
      text-align: center;
      letter-spacing: .25em;
      padding: 0 1.5em;
      text-shadow: 1px 1px 1px #FFFC00, 2px 2px 2px #FFFC00, 3px 3px 3px #FFFC00, 4px 4px 4px #FFFC00, 5px 5px 5px #999999;
    }
    .resume_btn {
      display: inline-block;
      height: 3em;
      width: 16em;
      background: #FFFC00;
      border: none;
      outline: none;
      border-radius: 5em;
      font-size: .75em;
      color: #000000;
      font-family: air;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, .2);
      margin: 2em auto;
      transition: all .25s ease-in-out;
      cursor: pointer;
      &:hover {
        box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
      }
    }
  }
}
.fp-section {
  text-align: center;
}
@keyframes moon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}