.section {
  .section_title {
    font-size: 2em;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
  }
  &.section_one {
    background: #00F260;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);
    .enter_anchor {
      text-decoration: none;
      color: #FFFFFF;
      .enter_btn {
        font-size: 1em;
      }
    }
  }
}

.fp-section {
  text-align: center;
}
