.section {
  .section_title {
    font-size: 2em;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
  }
  &.section_one {
    background: #00F260;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);
    .enter_anchor {
      text-decoration: none;
      color: #FFFFFF;
      .enter_btn {
        font-size: .75em;
        background: #FDFC47;
        background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);
        background: linear-gradient(to right, #24FE41, #FDFC47);
        color: #000000;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
        padding: .5em 2.5em;
        transition: all .3s ease-in-out;
        &:hover {
          opacity: .75;
        }
      }
    }
  }
  &.section_two {
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .section_two_title {
      margin: 10px auto;
      text-align: left;
      letter-spacing: .5em;
      color: #FFFFFF;
    }
  }
  &.section_three {
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}
.fp-section {
  text-align: center;
}
