.section
  .section_title
    font-size 2.25rem
    text-align center
    color #2D2D2D
    font-weight 700
    font-family air
    text-shadow 1px 1px 1px #FFFC00, 2px 2px 2px #FFFC00, 3px 3px 3px #FFFC00, 4px 4px 4px #999999, 5px 5px 5px #999999
  &.section_one
    .banner
      display inline-block
      width 44%
      height 0
      padding-top 135.01%
      background url("../../assets/images/home/banner.png") no-repeat center
      background-size: 100% auto
      position: absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      .cycle
        display inline-block
        height 0
        width 18%
        padding-top 18%
        background url("../../assets/images/home/cycle.png") no-repeat center
        background-size 100% 100%
        position absolute
        top 49.5%
        right 15%
        animation cycle 4.2s infinite
        animation-fill-mode both
        animation-timing-function linear
        cursor pointer
        &:hover
          animation-play-state paused
  &.section_two
    .futurama
      display inline-block
      width 10em
      height 12.524em
      background url("../../assets/images/futurama/futurama_2.png") no-repeat center
      background-size 100% auto
      position absolute
      bottom 0
      right 0
      z-index 10
  &.section_three
    position relative
    background url("../../assets/images/home/bg.png") no-repeat center
    background-size: contain
    text-align center
    .section_title
      font-size 4em
      margin 0 auto
      text-align: center
      letter-spacing: .25em
      padding 0 1.5em
      color #FFFFFF
      text-shadow: 1px 1px 5px rgba(0, 0, 0, .4), 2px 2px 2px rgba(0, 0, 0, .4)
      position absolute
      width 100%
      top 4em
      left 0
    .resume_btn
      text-decoration none
      display inline-block
      padding 1em 4em
      background #FFCB00
      border none
      outline none
      border-radius 5em
      font-size 1.5em
      color #000000
      font-family air
      box-shadow 1px 1px 20px rgba(0, 0, 0, .2)
      margin 6em auto 0
      transition all .25s ease-in-out
      cursor pointer
      &:hover
        box-shadow: 1px 1px 20px rgba(0, 0, 0, .5)
    .copyright
      height 32px
      width 388px
      background #FFFFFF
      font-size 12px
      color #000000
      position absolute
      bottom 0
      left 50%
      margin-left -194px
      line-height 32px
      z-index 1
      border-radius 4px
      a
        text-decoration none
        color #000000
        font-weight 700
    .counter_zone
      text-align center
      width 100%
      position absolute
      bottom 16px
      left 0
.fp-section
  text-align center

@media only screen and (max-width: 800px)
  .section
    &.section_one
      .banner
        width 60%
    &.section_three
      .section_title
        font-size 2.4em
      .resume_btn
        width 56%
        padding 1em 1.2em
        font-size 1em

@import './star.styl'

@keyframes cycle
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)
