.section
  .section_title
    font-size 2.25rem
    text-align center
    color #2D2D2D
    font-weight 700
    font-family air
    text-shadow 1px 1px 1px #FFFC00, 2px 2px 2px #FFFC00, 3px 3px 3px #FFFC00, 4px 4px 4px #999999, 5px 5px 5px #999999
  &.section_one
    .banner
      display inline-block
      width 40%
      height 0
      padding-top 104.29%
      background url("../../assets/images/home/banner.png") no-repeat center
      background-size: 100% auto
      position: absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
  &.section_two
    .section_two_title
      margin .2em auto 0
      text-align left
      letter-spacing: .25em
      padding 0 5%
      color #000000
      text-shadow none
  &.section_three
    position relative
    background url("../../assets/images/home/bg.png") no-repeat center
    background-size: contain
    text-align center
    .section_title
      font-size 48px
      margin 0 auto
      text-align: center
      letter-spacing: .25em
      padding 0 1.5em
      color #FFFFFF
      text-shadow: 1px 1px 5px rgba(0, 0, 0, .4), 2px 2px 2px rgba(0, 0, 0, .4)
    .resume_btn
      display inline-block
      padding 1em 4em
      background #FFFFFF
      border none
      outline none
      border-radius 5em
      font-size 1.5em
      color #000000
      font-family air
      box-shadow 1px 1px 20px rgba(0, 0, 0, .2)
      margin 6em auto 0
      transition all .25s ease-in-out
      cursor pointer
      &:hover
        box-shadow: 1px 1px 20px rgba(0, 0, 0, .5)
    .counter_zone
      text-align center
      width 100%
      position absolute
      bottom 36px
.fp-section
  text-align center

@import './star.styl'
