.section
  border: 1px solid red
  .section_title
    font-size 2.25em
    text-align center
    color #2d2d2d
    font-size 700
  &.section_one
    .section_title
      letter-spacing .1em
      color: red !important
    .enter_anchor
      text-decoration: none
      color: #FFFFFF
      .enter_btn
        font-size: .75em