@import '../../utils/utils.scss';
.user-sec-container {
  a {
    text-decoration: none;
  }
  .user-avator {
    border-radius: 50%;
    border: 5px solid rgba($white5, .5);
    @include size(110px);
    display: block;
    margin: 20px auto 10px;
  }
  .user-name {
    text-align: center;
    color: $color1;
    padding-bottom: 5px;
    font-size: .5em;
  }
  .user-link {
    text-align: center;
    display: block;
  }
  .user-desc {
    text-align: center;
    line-height: 1.8em;
    color: $color2;
    font-size: .5em;
  }
  .bp3-fill {
    margin: 15px auto 0;
    max-width: 220px;
    background: $themeColor;
    border: none;
    outline: none;
    border-radius: 5px;
    &:hover {
      background: #2d2d2d;
      .bp3-button-text {
        text-decoration: none;
        font-style: none;
      }
    }
  }
  .change-mode-btn {
    margin-top: 20px;
  }
}
.bp3-dark {
  .user-name {
    color: $white2;
  }
  .user-desc {
    color: $white4;
  }
  .user-avator {
    border-color: rgba($bg4, .5);
  }
  .bp3-fill {
    background: $black4;
  }
}
@media screen and (max-width: 800px) {
  bp3-fill {
    width: 200px !important;
    max-width: 80vw;
  }
}