.poem
  padding 0 8em
  .sentence
    font-family air
    font-size 1.8em
    line-height 2
    word-spacing .4em
    color #2D2D2D
    text-shadow 1px 1px 10px rgba(0, 0, 0, .1), 2px 2px 2px rgba(0, 0, 0, .1), 3px 3px 3px rgba(0, 0, 0, .1), 4px 4px 4px rgba(0, 0, 0, .1)

@media only screen and (max-width: 800px)
  .poem
    padding 0 2em
    .sentence
      font-size 1em
      text-align left