.poem
  padding 0 8em
  .sentence
    font-family air
    font-size 2em
    line-height 2
    word-spacing .4em
    color #000000
    text-shadow 1px 1px 10px rgba(0, 0, 0, .1), 2px 2px 2px rgba(0, 0, 0, .1), 3px 3px 3px rgba(0, 0, 0, .1), 4px 4px 4px rgba(0, 0, 0, .1)
    span 
      color #FFFC00
      text-shadow 1px 1px 10px rgba(0, 0, 0, .3), 2px 2px 2px rgba(0, 0, 0, .3), 3px 3px 3px rgba(0, 0, 0, .3), 4px 4px 4px rgba(0, 0, 0, .3)

@media only screen and (max-width: 800px)
  .poem
    padding 0 2em
    .sentence
      font-size 1em
      text-align left